html,
body,
#container {
  margin: 0;
  height: 100%;
}

.title {
  height: 50px;
}
.top-menu-link.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
@media only screen and (max-height: 600px) {
  .center-container {
    height: 50%;
  }
}
.center-container {
  height: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
}

.center-area {
  height: 100%;
  position: fixed;
  right: 0;
  top: 72px;
  width: calc(100% - 300px);
}
.center-area-full {
  height: 100%;
  position: fixed;
  right: 0;
  top: 72px;
  width: calc(100% - 65px);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 95%;
  width: 15%;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  z-index: 1;
  padding: 20px;
  right: 10px;
  bottom: 10px;
}

.monaco-editor {
  height: 100% !important;
  width: 100% !important;
  display: flex;
}

.content {
  top: 36px;
  position: sticky;
  height: calc(100% - 36px);
  overflow-y: auto;
}
.lnb-btn {
  z-index: 3;
  color: #070e26c4 !important;
}

.parental-full {
  height: 100%;
  width: 100%;
}

.editor-flex {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.gnb {
  background: #070e26;
  position: absolute;
  height: 72;
  overflow: auto;
  width: 100%;
  padding: 0px 15px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.gnb-project-page {
  background: #070e26;
  overflow: auto;
  width: 100%;
  height: 72;
  padding: 0px 15px 0px 0px;
  display: flex;
}
.logo {
  display: flex;
  height: 36px;
}
.logo-icon {
  height: 16px;
  width: 16px;
  left: 20px;
  top: 10px;
  border-radius: 2px;
  position: absolute;
}
.logo-text {
  height: 15px;
  left: 50px;
  position: absolute;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-menu-text-left {
  height: 15px;
  margin-left: 100px;
  padding-left: 10px;
  position: relative;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-menu-text {
  height: 15px;
  padding-left: 10px;
  position: relative;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-head-text {
  height: 15px;
  padding-right: 200px;
  position: relative;
  font-size: 15px;
  padding-top: 15px;
  line-height: 13px;
  color: #ffffff;
  font-weight: bold;
}
.gnb-menu-button {
  padding: 10px 28px !important;
  height: 30px;
  background: #070e26;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 14px !important;
  text-transform: none !important;
}

.commit-link {
  padding-left: 15px;
}
.height-full {
  height: 100%;
}
.editor-lnb {
  height: calc(100% - 100px);
  position: fixed;
  left: 0;
  top: 72px;
  width: 235px;
}
.project-lnb {
  height: calc(100% - 36px);
  position: fixed;
  left: 0;
  top: 36px;
  width: 235px;
}

.lnb-close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #070e26c4 !important;
}
.list-title {
  padding-left: 10px;
}

.editor-lnb-drawer {
  height: calc(100% - 100px);
  padding-left: 65px;
}
.commit-btn {
  text-transform: none !important;
}
.monaco-editor .overflow-guard {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.monaco-scrollable-element {
  width: 90% !important;
}
.minimap {
  left: inherit !important;
  right: 0px;
}

.project-page-create {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;
}
.project-page {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-page-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.file-icon {
  width: 20px;
  height:20px;
  display: inline-block;
}
.source-code-tree {
  padding: 5px;
  height: 800px;
  width: 220px;
  overflow: scroll;
  background-color: #F5F7F9;
  text-overflow : ellipsis;
  scrollbar-width: thin;
  font-size: 12px;
  white-space : nowrap;
}
.source-code-tree::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  position: fixed;
}
.source-code-tree::-webkit-scrollbar-track {
  background-color: transparent;
}
.source-code-tree::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.source-code-tree::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.detail-body {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.detail-main {
  height: 130;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.detail-in-flex,
.detail-in-flex-under {
  display: flex;
  gap: 12px;
  z-index: 1;
}
.detail-in-flex-under {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.detail-drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.custom-list-item {
  display: flex;
  justify-content: space-between;
}
.left-align {
  text-align: left;
  width: 300px;
}
.right-align {
  text-align: right;
  color: gray;
}
.center-align {
  text-align: center;
  color: gray;
}
.padding-top-new-pro {
  padding-top: 30px;
}
.project-page-search {
  display: flex;
  justify-content: right;
  width: 100%;
}

.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-screen p {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
