html,
body,
#container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
}

.editor-container {
  height: calc(100% - 50px);
  overflow: hidden;
  width: auto;
}

.editor-area {
  height: 100%;
  position: fixed;
  right: 0;
  width: 85%;
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: auto;
  z-index: 99;
  width: 15%;
  overflow: auto;
}

.alert {
  position: absolute;
  z-Index: 100;
  padding: 20px;
  right: 10px;
}
