html,
body,
#container {
  margin: 0;
  height: 100%;
}

.title {
  height: 50px;
}

@media only screen and (max-height: 600px) {
  .center-container {
    height: 50%;
  }
}
.center-container {
  height: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
}

.center-area {
  height: 100%;
  position: fixed;
  right: 0;
  top: 72px;
  width: calc(100% - 300px);
}
.center-area-full {
  height: 100%;
  position: fixed;
  right: 0;
  top: 72px;
  width: calc(100% - 65px);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 95%;
  width: 15%;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  z-index: 1;
  padding: 20px;
  right: 10px;
  bottom: 10px;
}

.monaco-editor {
  height: 100% !important;
  width: 100% !important;
  display: flex;
}

.content {
  top: 36px;
  position: sticky;
  height: calc(100% - 36px);
}
.lnb-btn {
  z-index: 3;
  color: #070e26c4 !important;
}

.parental-full {
  height: 100%;
  width: 100%;
}

.editor-flex {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.gnb {
  background: #070e26;
  position: absolute;
  height: 72;
  overflow: auto;
  width: 100%;
  padding: 0px 15px;
}
.logo {
  display: flex;
  height: 36px;
}
.logo-icon {
  height: 16px;
  width: 16px;
  left: 20px;
  top: 10px;
  border-radius: 2px;
  position: absolute;
}
.logo-text {
  height: 15px;
  left: 50px;
  position: absolute;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-menu-text-left {
  height: 15px;
  margin-left: 100px;
  padding-left: 10px;
  position: relative;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-menu-text {
  height: 15px;
  padding-left: 10px;
  position: relative;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}

.gnb-menu-button {
  padding: 10px 8px !important;
  width: 76px;
  height: 36px;
  background: #070e26;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 14px !important;
}

.commit-link {
  padding-left: 15px;
}
.height-full {
  height: 100%;
}
.editor-lnb {
  height: calc(100% - 72px);
  position: fixed;
  left: 0;
  top: 72px;
  width: 235px;
}
.project-lnb {
  height: calc(100% - 36px);
  position: fixed;
  left: 0;
  top: 36px;
  width: 235px;
}

.lnb-close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #070e26c4 !important;
}
.list-title {
  padding-left: 10px;
}

.editor-lnb-drawer {
  height: calc(100% - 72px);
  padding-left: 65px;
}
.commit-btn {
  text-transform: none !important;
}
.monaco-editor .overflow-guard {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.monaco-scrollable-element {
  width: 90% !important;
}
.minimap {
  left: inherit !important;
  right: 0px;
}

.project-page-create {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.project-page {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-page-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.source-code-tree {
  padding: 5px;
  height: 95%;
  overflow: scroll;
  scrollbar-width: thin;
  background-color: #ffffffc4;
}
.source-code-tree::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.source-code-tree::-webkit-scrollbar-track {
  background-color: transparent;
}
.source-code-tree::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.source-code-tree::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.detail-body {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.detail-main {
  height: 130;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.detail-in-flex,
.detail-in-flex-under {
  display: flex;
  gap: 12px;
  z-index: 1;
}
.detail-in-flex-under {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.detail-drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
