html,
body,
#container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
}
@media only screen and (max-height: 600px) {
  .editor-container {
    height: 50%;
  }
}
.editor-container {
  height: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
}

.editor-area {
  height: 100%;
  position: fixed;
  right: 0;
  width: calc(100% - 270px);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 95%;
  z-index: 99;
  width: 15%;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  z-index: 4800;
  padding: 20px;
  right: 10px;
}

.monaco-editor {
  height: 100% !important;
  width: 100% !important;
  display: flex;
}

.height-full {
  height: 100%;
}

.parental-full {
  height: 100%;
  width: 100%;
}

.editor-flex {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.gnb {
  position: sticky;
  z-index: 2400;
  background: white;
  height: 40;
  border-bottom: 1px solid black;
  overflow: auto;
}

.commit-link {
  padding-left: 15px;
}

.white-block {
  height: 50px;
}

.btn-front {
  z-index: 1800;
}
.lnb-close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}
.list-title {
  padding-left: 10px;
}

.lnb-scm {
  padding-left: 50px;
}
.commit-btn {
  text-transform: none !important;
}
.monaco-editor .overflow-guard {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.monaco-scrollable-element {
  width: 90% !important;
}
.minimap {
  left: inherit !important;
  right: 0px;
}

/* .minimap-decorations-layer {
  width: 100% !important;
}
.minimap-slider {
  width: 100% !important;
}
.minimap-slider-horizontal {
  width: 100% !important;
} */
