html,
body,
#container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
}
@media only screen and (max-height: 600px) {
  .editor-container {
    height: 50%;
  }
}
.editor-container {
  height: 100%;
  overflow: hidden;
  width: auto;
}

.editor-area {
  height: 100%;
  position: fixed;
  right: 0;
  width: calc(100% - 270px);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 95%;
  z-index: 99;
  width: 15%;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  z-index: 4800;
  padding: 20px;
  right: 10px;
}

.monaco-editor {
  height: 100% !important;
}

.height-full {
  height: 100%;
}

.parental-full {
  height: 100%;
  width: 100%;
}

.editor-flex {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.gnb {
  z-index: 2400;
  background:#070E26;
  position: absolute;
  height: 72;
  overflow: auto;
  width: 100%;
  padding: 0px 15px;
}
.logo{
  display: flex;
  height: 36px;
 }
.logo-icon{
  height: 16px;
  width: 16px;
  left: 20px;
  top: 10px;
  border-radius: 2px;
  position: absolute;
 }
.logo-text{
  height: 15px;
  left: 50px;
  position: absolute;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
}

.gnb-menu-button{
  padding: 10px 8px !important;
  width: 76px;
  height: 36px;
  background: #070E26;
  color: #FFFFFF !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 14px !important;
}

.commit-link {
  padding-left: 15px;
}

.white-block {
  height: 50px;
}

.btn-front {
  z-index: 1800;
}
.lnb-close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}
.list-title {
  padding-left: 10px;
}

.lnb-scm {
  padding-left: 50px;
}
.commit-btn {
  text-transform: none !important;
}
