html,
body,
#container {
  margin: 0;
  height: 100%;
}

.title {
  height: 50px;
}

@media only screen and (max-height: 600px) {
  .editor-container {
    height: 50%;
  }
}
.editor-container {
  height: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
}

.editor-area {
  height: 100%;
  position: fixed;
  right: 0;
  top: 72px;
  width: calc(100% - 300px);
}
.editor-area-full {
  height: 100%;
  position: fixed;
  right: 0;
  top: 72px;
  width: calc(100% - 65px);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 95%;
  width: 15%;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  z-index: 1;
  padding: 20px;
  right: 10px;
}

.monaco-editor {
  height: 100% !important;
  width: 100% !important;
  display: flex;
}

.content {
  top: 72px;
  position: sticky;
  height: calc(100% - 72px);
}
.lnb-btn {
  z-index: 3;
  color: #070e26c4 !important;
}

.parental-full {
  height: 100%;
  width: 100%;
}

.editor-flex {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.gnb {
  background: #070e26;
  position: absolute;
  height: 72;
  overflow: auto;
  width: 100%;
  padding: 0px 15px;
}
.logo {
  display: flex;
  height: 36px;
}
.logo-icon {
  height: 16px;
  width: 16px;
  left: 20px;
  top: 10px;
  border-radius: 2px;
  position: absolute;
}
.logo-text {
  height: 15px;
  left: 50px;
  position: absolute;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-menu-text-left {
  height: 15px;
  padding-left: 100px;
  position: relative;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}
.top-menu-text {
  height: 15px;
  padding-left: 10px;
  position: relative;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
}

.gnb-menu-button {
  padding: 10px 8px !important;
  width: 76px;
  height: 36px;
  background: #070e26;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 14px !important;
}

.commit-link {
  padding-left: 15px;
}
.height-full {
  height: 100%;
}
.lnb {
  height: 100%;
  position: fixed;
  left: 0;
  top: 72px;
  width: 300px;
}

.lnb-close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #070e26c4 !important;
}
.list-title {
  padding-left: 10px;
}

.lnb-scm {
  padding-left: 65px;
}
.commit-btn {
  text-transform: none !important;
}
.monaco-editor .overflow-guard {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.monaco-scrollable-element {
  width: 90% !important;
}
.minimap {
  left: inherit !important;
  right: 0px;
}
