html,
body,
#container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
}
@media only screen and (max-height: 600px) {
  .editor-container {
    height: 50%;
  }
}
.editor-container {
  height: 100%;
  overflow: hidden;
  width: auto;
}

.editor-area {
  height: 100%;
  position: fixed;
  right: 0;
  width: calc(100% - 270px);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 95%;
  z-index: 99;
  width: 15%;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  z-index: 4800;
  padding: 20px;
  right: 10px;
}

.monaco-editor {
  height: 100% !important;
}
